<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lecture.practice.mapper.BoardMapper">


	<select id="getBoardList" resultType="com.lecture.practice.domain.BoardVO">
		SELECT * FROM board_view
	</select>
	
	<select id="getCommentList" resultType="com.lecture.practice.domain.CommentVO">
		SELECT *
		FROM board_comment
		WHERE board_id = #{board_id}
	</select>
	
	<select id="getCountList" resultType="com.lecture.practice.domain.BoardVO">
		SELECT *
		FROM board_count
		WHERE board_id = #{board_id}
		AND id = #{id}
	</select>

	<insert id="board_write" >
		<![CDATA[
		INSERT INTO board( id, board_id, title, content ) VALUES ( #{id}, #{board_id}, #{title}, #{content} )
		]]>
	</insert>
	
	<insert id="comment_write">
		<![CDATA[
		INSERT INTO board_comment( comment_id, content, board_id, id ) 
		VALUES ( #{comment_id}, #{content}, #{board_id}, #{id} )
		]]>
	</insert>
	
	<insert id="board_file">
		<![CDATA[
		INSERT INTO board_file( board_id, file_name ) VALUES ( #{board_id}, #{file_name} )
		]]>
	</insert>

	<select id="board_detail" resultType="com.lecture.practice.domain.BoardVO">
		<![CDATA[
		SELECT id, board_id, title, content 
		FROM board
		WHERE board_id = #{board_id}
  	  	]]>
	</select>
	
	<select id="board_file_detail" resultType="com.lecture.practice.domain.BoardVO">
		<![CDATA[
		SELECT file_name FROM board_file
		WHERE board_id = #{board_id}
  	  	]]>
	</select>

	<update id="board_delete" >
		<![CDATA[
		update board
		SET is_delete = '1'
		WHERE board_id = #{board_id}
		]]>
	</update>
	
	<update id="comment_delete" >
		<![CDATA[
		update board_comment
		SET is_delete = '1'
		WHERE comment_id = #{comment_id}
		]]>
	</update>
	
	<delete id="board_file_delete">
		DELETE FROM board_file
		WHERE file_name = #{file_name}
	</delete>
	
	<update id="board_modify" >
		<![CDATA[
		update board
		SET title = #{title},
			content = #{content}
		WHERE board_id = #{board_id}
		]]>
	</update>
	
	<update id="board_file_modify" >
		<![CDATA[
		UPDATE board_file
		SET file_name = #{file_name}
		WHERE board_id = #{board_id}
		]]>
	</update>
	
	<update id="comment_modify" >
		<![CDATA[
		update board_comment
		SET content = #{content}
		WHERE comment_id = #{comment_id}
		]]>
	</update>
	
	<update id="board_count">
		<![CDATA[
		INSERT INTO board_count( board_id, id ) VALUES ( #{board_id}, #{id} )
		]]>
	</update>
</mapper>