<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lecture.practice.mapper.MemberMapper">


	<select id="getMemberList" resultType="com.lecture.practice.domain.MemberVO">
		SELECT * from member
		WHERE id = #{id}
	</select>

	<insert id="register" >
		<![CDATA[
		INSERT INTO member( id, password, name )
		VALUES ( #{id}, #{password}, #{name} )
		]]>
	</insert>

	<select id="login" resultType="com.lecture.practice.domain.MemberVO">
		<![CDATA[
		SELECT * FROM member
		WHERE  id = #{id} AND password = #{password}
  	  	]]>
	</select>

	<select id="idcheck" parameterType="String" resultType="int">
      SELECT COUNT(*) FROM member
      WHERE id = #{id}
	</select>
</mapper>